**/bin/
**/obj/

.git/
.github/

.vs/
.idea/
.vscode/

*.user
*.suo
*.rsuser

TestResults/
coverage/
*.trx
*.coverage
*.coveragexml

.env
.env.*
appsettings.Development.json
appsettings.Local.json

README.local.md