# EXAMPLE FILE PLACEHOLDERS
# DO NOT COMMIT THIS FILE, instead create a seperate .env.caddy file

# leave this blank if you are testing locally, otherwise set to your domain name
CADDY_SITE_ADDRESS=api.yourdomain.com