# EXAMPLE FILE PLACEHOLDERS
# DO NOT COMMIT THIS FILE, instead create a seperate .env.production file
# In order to roll back to a previous version of the api/ingestor image, change the IMAGE_TAG to the targeted git commit SHA

IMAGE_TAG=latest