# EXAMPLE FILE PLACEHOLDERS
DOTNET_ENVIRONMENT=Development

ConnectionStrings__WowPaperTrader=Host=postgres;Port=5432;Database=wowpapertrader;Username=wow_ingestor_user;Password=CHANGE_ME

Blizzard__ClientSecret = INSERT_SECRET_FROM_BLIZZARD
Blizzard__ClientId = INSERT_CLIENTID_FROM_BLIZZARD