:80 {
    route {
        @notReadOnly {
            not method GET HEAD OPTIONS
        }

        header @notReadOnly Allow "GET, HEAD, OPTIONS"
        respond @notReadOnly "Method Not Allowed" 405

        reverse_proxy api:8080
    }
}